<div class="center-box">
  <p class="vote-text">You need to be logged in to participate in elections!</p>
  <div class="wrapper">
    <%= button_to 'Log In', login_path, :class => 'button purple-btn' %>
  </div>
</div>