<div class="row">
  <div class="col">  
    <div class="center-box">
      <p class="vote-text">Thank you for voting!</p>
      <%= button_to 'Click here to go home', root_path, :class => 'button purple-btn' %>
    </div>
  </div>
</div>